<md-card>
  <md-card-title md-colors="::{backgroundColor: 'default-primary-700'}">
    <md-card-title-text>
      <span class="md-headline">Réservation</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
      <p>
        <form name="bookForm">
          <div>
            <mdp-date-picker name="dateField" mdp-placeholder="Date" mdp-min-date="bookCtrl.minDate" ng-model="bookCtrl.date" required></mdp-date-picker>
            <mdp-time-picker name="timeField" mdp-placeholder="Heure" ng-model="bookCtrl.time" required></mdp-time-picker>
            <md-input-container>
                      <label>Station</label>
                      <md-select ng-model="bookCtrl.station" name="station" required>
                        <md-option ng-repeat="station in bookCtrl.stations" ng-value="station">
                          {{station.title}}
                        </md-option>
                      </md-select>
            </md-input-container>
          </div>
          <div>
              <div class="validation-messages" ng-if="bookCtrl.validated" ng-messages="bookForm.station.$error">
                <div ng-message="required">La station est obligatoire !</div>
              </div>
              <div class="validation-messages" ng-if="bookCtrl.validated" ng-messages="bookForm.dateField.$error">
                <div ng-message="required">La date est obligatoire !</div>
              </div>
              <div class="validation-messages" ng-if="bookCtrl.validated" ng-messages="bookForm.timeField.$error">
                <div ng-message="required">L'heure est obligatoire !</div>
              </div>
          </div>
        </form>
      </p>
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-raised" ng-click="bookCtrl.cancel()">Annuler</md-button>
      <md-button class="md-raised md-primary" ng-click="bookCtrl.book()">Réserver !</md-button>
    </md-card-actions>
  </md-card-content>
</md-card>

<md-card ng-if="bookCtrl.reservations.length > 0">
  <md-card-title md-colors="::{backgroundColor: 'default-primary-700'}">
    <md-card-title-text>
      <span class="md-headline">Mes réservations</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <md-list flex>
      <md-list-item ng-repeat="reservation in bookCtrl.reservations">
        <div class="md-list-item-text md-offset">
          {{reservation.date | date:'dd/MM/yyyy'}} {{reservation.time | date:'HH:mm'}} {{reservation.station}}
        </div>
        <span flex></span>
        <md-button ng-click="bookCtrl.removeReservation($index)" class="md-warn md-hue-2 md-raised md-icon-button">
          <md-icon md-svg-icon="images/icons/ic_close_24px.svg"></md-icon>
        </md-button>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>
