<md-card >
  <md-card-title md-colors="::{backgroundColor: 'default-primary-300'}">
    <md-card-title-media>
      <div class="md-media-sm card-media  margin-right" layout>
        <img src="{{homeCtrl.user.avatar}}" class="img-circle"/>
      </div>
    </md-card-title-media>
    <md-card-title-text>
        <span class="md-headline">{{homeCtrl.user.username}}</span>
        <span class="md-subhead description">{{homeCtrl.user.company}}</span>
    </md-card-title-text>
  </md-card-title>
<md-card-title>
    <span class="md-headline">Objectif du mois</span>
    <span flex></span>
    <span class="md-headline">{{homeCtrl.user.score}}</span> pts
</md-card-title>
<objectif-bar value="homeCtrl.user.objectif"></objectif-bar>
</md-card>
<br>

<div>
  <md-button ui-sref="score" class="md-raised" style="background-color: #2ecc71;">Scores</md-button>
</div>
<div>
  <md-button ui-sref="news" class="md-raised" style="background-color: #3498db;">Actualités</md-button>
</div>
<div>
  <md-button ui-sref="unlock" class="md-raised" style="background-color: #9b59b6;">déverrouiller un vélo</md-button>
</div>
<div>
  <md-button ui-sref="book" class="md-raised" style="background-color: #e74c3c;">Réserver mon vélo</md-button>
</div>
<div>
  <md-button ui-sref="maps" class="md-raised" style="background-color: #e67e22;">Carte des vélos</md-button>
</div>
<div>
  <md-button ui-sref="partner" class="md-raised" style="background-color: #f1c40f;">Partenaires</md-button>
</div>
<div>
  <md-button class="md-raised" style="background-color: #ecf0f1;">Déconnexion</md-button>
</div>
