<md-dialog aria-label="{{marker.title}}">
  <form ng-cloak>
    <md-toolbar md-colors="::{backgroundColor: 'default-primary-700'}">
      <div class="md-toolbar-tools">
        <h2>{{marker.title}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="/images/components/maps/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <md-list flex>
        <md-list-item>
          <img ng-src="/images/components/maps/bicycle.svg" class="icon-maps" />
          <div class="md-list-item-text" layout="column">
            Vélos disponibles: <span class="md-secondary padding-left-10">{{marker.available}}/{{marker.nbPlaces}}</span>
          </div>
        </md-list-item>
        <md-divider ></md-divider>
        <md-list-item>
          <img src="/images/components/maps/parking.svg" class="icon-maps"/>
          <div class="md-list-item-text" layout="column">
            Places de parking disponibles: <span class="md-secondary padding-left-10">{{marker.nbPlaces - marker.available}}/{{marker.nbPlaces}}</span>
          </div>
        </md-list-item>
    </md-dialog-content>
</md-dialog>
