  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">

      <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">École Universitaire de Management  <span flex>
              <img src="images/components/partner/EUM.png" class="image_partner"> </span></span>
            <span class="md-subhead">Réseau IAE</span>

          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-sm card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Voir le site</md-button>
        </md-card-actions>
      </md-card>
    </div>
  </md-content>



  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">ISIMA</span>
            <span class="md-subhead">Institut Supérieur d'Informatique, de Modélisation et de leurs Applications</span>
            <img src="images/components/partner/ISIMA.png" class="image_partner">
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-sm card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Voir le site</md-button>
        </md-card-actions>
      </md-card>
    </div>
  </md-content>


  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">SMTC</span>
            <span class="md-subhead"></span>
              <img src="images/components/partner/SMTC.png" class="image_partner">
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-sm card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Voir le site</md-button>
        </md-card-actions>
      </md-card>
    </div>
  </md-content>


  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Ville de Clermont-Ferrand</span>
            <span class="md-subhead"></span>
              <img src="images/components/partner/Ville_Clermont.jpg" class="image_partner">
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-sm card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Voir le site</md-button>
        </md-card-actions>
      </md-card>
    </div>
  </md-content>
